.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    position: relative;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    cursor: pointer;
    transition: transform 0.2s;
    aspect-ratio: 1 / 1; /* Stellt sicher, dass die Vorschauen quadratisch sind */
    overflow: hidden; /* Verhindert, dass Bilder über die Grenzen hinausgehen */
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Schneidet die Bilder zu, um sie quadratisch zu machen */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item:hover {
    transform: scale(1.05);
}

.fullscreen-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.fullscreen-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}